@model PracticalDotNet.Models.Exam

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Exam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Classroom.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Classroom.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Faculty.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Faculty.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start_time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exam_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Exam_duration)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Exam_duration)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
